{{> common/header }}

Stories

<div class="starter-template">
    {{#stories}}
        <h1>{{title}}</h1>
        <h3>{{publicationDate}}</h3>
        <h3>author</h3>
        <p>{{summary}}</p>
    {{/stories}}
</div>

{{> common/footer }}
