{{> common/header }}

<div class="container-fluid" style="min-height: fit-content;">
    <h2>Stories</h2>
    <p class="subtitle" style="margin-bottom: 50px;">
        Hot & Steamy Stories 4 U!
    </p>
    {{> stories/stories-list-block }}
</div>

{{> common/footer }}
