{{> common/header }}

<div class="container-fluid" style="min-height: fit-content;">
    <h2>{{story.title}}</h2>
    <p class="subtitle">
        by Author
    </p>
    <div>{{story.summary}}</div>
</div>

{{> common/footer }}
